{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'your_app/QR_code_page.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="qr-page">
        <main class="main-qr">
          <h1>{{ first_name }} {{ last_name }}</h1>
          <div>
            <p>
              Is registered for the <b>{{ event }}</b>
            </p>
          </div>
        </main>
    </section>
</body>
</html>
