.add-event-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.add-event-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.add-event-header h1 {
    font-size: 28px;
}

.add-event-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 42px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-event-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.add-event-title-input,
.add-event-description-input,
.add-event-date-input,
.add-event-location-input,
.add-event-status-select {
    border-radius: 5px;
    padding: 10px;
    border: 2px black solid;
    font-size: 16px;
    box-shadow: none;
}

.add-event-places-input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    width: auto;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px 12px;
    font-size: 12px;
    background-color: var(--background-secondary);
}

.add-event-description-input {
    resize: vertical;
    width: 100%;
}

.add-event-buttons {
    display: flex;
    gap: 20px;
}

.add-event-date-input,
.add-event-location-input,
.add-event-status-select {
    text-align: center;
    background-color: var(--yellow);
}

.add-event-date-input {
    flex: 1.5;
}

.add-event-location-input {
    flex: 3;
}

.add-event-status-select {
    flex: 1;
}

.add-event-description-input {
    background-color: var(--btn-settings);
}

.add-event-page-info {
    display: flex;
    gap: 10px;
    width: 100%;
}