.header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 38px;
    width: 100%;
    gap: 14px;
}

@media (max-width: 480px) {
    .header-container {
        flex-direction: column;
        padding: 16px;
    }

    .btn-profile {
        width: auto;
    }

    .search-form {
        width: 100%;
    }

    .search-bar {
        width: 100%;
    }
}