.event-card {
    height: 170px;
    width: 266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 16px;
    gap: 14px;
    border: 2px black solid;
    box-shadow: 4px 4px 0px black;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.event-card:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 black;
}

.event-card:active {
    transform: translate(5px, 5px);
}

.event-card.public {
    background: var(--card-public);
}

.event-card.private {
    background: var(--card-private);
}

.event-title {
    font-size: 16px;
    font-weight: bold;
}

.event-description {
    font-size: 14px;
    color: var(--text-color);
}

.event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.event-location,
.event-date {
    font-size: 12px;
    color: var(--text-color);
    font-style: italic;
    margin: 0px;
    overflow: hidden;
    text-align: left;
}

.event-location {
    width: 155px;
}

.event-status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25px;
    width: 69px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 6px 12px;
    font-size: 12px;
    margin: 0;
}

.event-status.public {
    background: var(--badge-public);
}

.event-status.private {
    background: var(--badge-private);
}